.popup__input_text {
  width: 358px;
  height: 14px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid rgb(0 0 0 / .2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 13px;
}

.popup__input_text:last-child {
  margin-top: 30px;
}

@media screen and (max-width: 998px) {
  .popup__input_text {
    width: 238px;
  }
}
