.profile__edit-avatar-button {
  background-image: url(../../../images/editAvatar.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-left: -120px;
}

.profile__edit-avatar-button:hover {
  opacity: 1;
  cursor: pointer;
}


@media screen and (max-width: 998px) {
  .profile__edit-avatar-button {
  margin: -120px auto 0 auto;
  }
}
