.profile__description {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  max-width: 336px;
}

@media screen and (max-width: 998px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    justify-self: center;
    padding-bottom: 36px;
    padding-top: 14px;
    max-width: 282px;
  }
}